
table {
	border: 0px solid;
	margin-left:40px;
}

h1 {
	 font-style:bold;
	 font-family:verdana;
	 font-size:20px;
	 margin-left:40px;
	 color:blue;
}
body {
	 font-style:bold;
	 font-family:verdana;
	 font-size:14px;
	 color:blue;
}
#etiquette{
	 font-style:bold;
	 font-family:verdana;
	 font-size:14px;
	 color:black;
}
